<div class="leftMenu">

    <ul>

        <li><a routerLink="/register" routerLinkActive="activeLinks"><img id="lefticon" src="assets/img/icondoc.png"> Livres </a></li>
        <li><a routerLink="/ttoffres" routerLinkActive="activeLinks"><img id="lefticon" src="assets/img/iconfoto.png"> Photos </a></li>
        <li><a routerLink="/contact" routerLinkActive="activeLinks"> <img id="lefticon" src="assets/img/iconmusic.png"> Audios </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> Vidéos </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> News </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> Santé </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> Cours </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> Tbusess </a></li>
    </ul>


</div>