<div class="leftMenu">

    <ul>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/health.png"> Health </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/science.png"> Science </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/tech.png"> Technology </a></li>
        <li><a routerLink="/register" routerLinkActive="activeLinks"><img id="lefticon" src="assets/img/icondoc.png"> Livres </a></li>
        <li><a routerLink="/ttoffres" routerLinkActive="activeLinks"><img id="lefticon" src="assets/img/iconfoto.png"> Photos </a></li>
        <li><a routerLink="/contact" routerLinkActive="activeLinks"> <img id="lefticon" src="assets/img/iconmusic.png"> Audios </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> Vidéos </a></li>
        <li><a routerLink="/login" routerLinkActive="activeLinks">   <img id="lefticon" src="assets/img/iconvdo.png"> News </a></li>

    </ul>


</div>