
.leftMenu {
  padding-top: 10px;
  height: 50%;
}

.cardheader {
  color: #483348;
  padding: 10px;
  margin: 10px;
  font-size: 22px;
  text-decoration: wavy;
  font-weight: bold;
  text-shadow: -1px -1px 1px #180018;
  font-family: "Century Gothic","Hekvetica", sans-serif;

}

.leftMenu ul {
  list-style-type: none;
}

  .leftMenu li {
    padding: 5px;
  }

  #lefticon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-shadow: -1px -1px 1px #180018;
    font-family: "Century Gothic","Hekvetica", sans-serif;
  }



.leftMenu li a {
  color: #483348;
  padding: 20px;
  font-size: 14px;
  text-decoration: wavy;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 1px #483348;
  font-family: "Century Gothic","Hekvetica", sans-serif;
}

                        .leftMenu li a:hover {
                          font-size: 18px;
                          margin: 25px;
                        }
                      
                      .activeLinks {
                        border-style: inset;
                        border: 1px;
                        border-color: #483348;
                      }
