*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
  height: 10vh;
  background: #483348;
  height: 50px;
  width: 100%;
}

      .nav-links {
          margin-left: 0px;
        display: flex;
        list-style: armenian;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
      }
          .nav-linx {
            display: flex;
            margin-left: 0px;
            margin-right: 0px;
            width: 50%;
            height: 100%;
            padding: 5px;
                              }
                    #iconpp {
                      margin: auto;
                      cursor: pointer;
                      margin-left: 20px;
                      width: 50px;
                      height: 50px;
                    }                     
                    #iconpp:hover {
                      width: 60px;
                      height: 60px;
                    }

                    
                    .search-text {
                      margin-top: 5px;
                      width: 90%;
                      height: 30px;
                      margin-right: 20%;
                      margin-left: 60px
                    }
.searchbtn {
  float: right;
  width: 40px;
  height: 40px;

}


.navLinks {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: 0px;
}


            .navLinks li a {
              padding: 5px;
              border: 1px;
              color: #FFFFFF;
              font-size: 11px;
              border-color: #483348;
              border-right-style: inset;
              text-decoration: wavy;
              font-weight: bold;
              text-align: center;
              text-shadow: -1px -1px 1px inherit;
              font-family: "Century Gothic","Hekvetica", sans-serif;
            }

                      .navLinks li a:hover {
                          font-size: 13px;

                      }

                      .activeLinks {
                        border-style:inset
                           
                      }


@media screen and (max-width: 768px) {
  .nav-linx {
    display: flex;
    margin-left: 0px;
    width: 70%;
    height: 100%;
    padding: 5px;
  }


  .search-text {
    outline: none;
    float: left;
    background: none;
    border: none;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }

  .nav-linx:hover > .search-text {
    outline: none;
    float: left;
    background: none;
    border: none;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
  }

  #iconpp {
    margin-top: auto;
    cursor: pointer;
    margin-left: 20%;
    width: 50px;
    height: 50px;
  }
    #iconpp:hover {
      width: 60px;
      height: 60px;
    }

  .nav-links li a {
    color: white;
    text-decoration: wavy;
    font-size: 12px;
    border-color: #483348;
    padding: 10px;
    margin: 10px;
    border: none;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: fixed;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .navLinks {
    position: fixed;
    background: #48334b;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 70% 10%);
    -webkit-clip-path: circle(100px at 70% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .hamburger:hover > .navLinks {
    clip-path: circle(1000px at 70% -10%);
    -webkit-clip-path: circle(1000px at 70% -10%);
    pointer-events: all;
  }
}

