<nav class="navbar navbar-light fixed-top" style="background-color: #48334b;">

    <!-- Navbar content -->
    <div class="hamburger" routerLink="/leftcomp">

        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>

    </div>



    <div class="navlink">

        <div class="nav-linx">

            <img id="iconpp" routerLink="/fbody" src="assets/img/job.png">
            <div class="search-box">
                <input class="search-text" type="text" name="Search" placeholder="Type to Search">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>


        </div>


        <ul class="navLinks">

            <li><a routerLink="/register" routerLinkActive="activeLinks">Créer Votre CV</a></li>
            <li><a routerLink="/ttoffres" routerLinkActive="activeLinks">Toutes les Offres</a></li>
            <li><a routerLink="/contact" routerLinkActive="activeLinks">Candidature Spontanée</a></li>
            <li><a routerLink="/login" routerLinkActive="activeLinks">Login</a></li>

        </ul>
    </div>

</nav>
