<body>
    <div class="card-group">
        <div class="card col-md-2">
          <div class="card-header bg-transparent text-danger"> <p *ngFor="let c of comments">{{c.titre}}</p></div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>


<div class="card text-center">
  <div class="card-header">
    <p *ngFor="let c of comments">{{c.titre}}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title" *ngFor="let c of comments">{{c.missions}} </h5>
	<p class="card-text" *ngFor="let c of comments">{{c.profil}} </p>
		<p class="card-text" *ngFor="let c of comments">{{c.inffos}} </p>
    <a href="#" class="btn btn-primary">Postuler</a>
  </div>
  <div class="card-footer text-muted">
		<p class="card-text" *ngFor="let c of comments"><span class="badge badge-dark">{{c.date}}</span></p>
  </div>
</div>
          </div>
        </div>







         <div class="card col-md-8">
          <div class="card-danger">


          </div>
        </div>






           <div class="card col-md-2">
          <div class="card-header bg-transparent text-danger">Header</div>
          <div class="card-body">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">
Fonction
Secteur
Niveau d'expérience
Pays
Région
Poste avec Management
Langue
Niveau d'étude
Type de contrat
ReKruteur
            </p>
          </div>
          </div>
        </div>









  </body>




