*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
  height: 10vh;
  background: #483348;
  height: 50px;
  width: 100%;
}

      .navlink {
          margin-left: 0px;
        display: flex;
        list-style: armenian;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
      }
          .nav-linx {
            display: flex;
            margin-left: 0px;
            margin-right: 0px;
            width: 50%;
            height: 100%;
            padding: 0px;
                              }
#iconpp {
  margin: auto;
  cursor: pointer;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}                     
                    #iconpp:hover {
                      width: 35px;
                      height: 35px;
                    }
.search-box {
  padding-left: 50px;
  background-color: #FFFFFF;
  border-radius:5%;
  margin-left: 10px;
  margin-right: 0%;
  margin-top: 12px;
  width: 60%;
  height: 25px;
}


.search-text {
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: none;
}

.search-box:hover > .search-text {
  height: 100%;
  width: 80%;
  border-radius: 50%;
  background-color: none;
  border: none;
}
.search-btn {
   margin:0px;
  padding:0px;
  float: right;
  width: 40px;
  height: 40px;
  background-color: none;
  color: #483348;
  background-color: none;
  border-radius: 25%;
}


.navLinks {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: 0px;
}


            .navLinks li a {
              padding: 5px;
              border: 1px;
              color: #FFFFFF;
              font-size: 11px;
              border-color: #483348;
              border-right-style: inset;
              text-decoration: wavy;
              font-weight: bold;
              text-align: center;
              text-shadow: -1px -1px 1px inherit;
              font-family: "Century Gothic","Hekvetica", sans-serif;
            }

                      .navLinks li a:hover {
                          font-size: 13px;

                      }

                      .activeLinks {
                        border-style:inset
                           
                      }


@media screen and (max-width: 768px) {
  .nav-linx {
    display: flex;
    margin-right:100px;
    margin-left: 0px;
    width: 80%;
    height: 100%;
    padding: 0px;
  }

  .search-box {
    padding: 0px;
    background-color: #483348;
    border-radius: 50%;
    margin-left: 0px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }

.search-box:hover {
  padding-left: 0px;
  background-color: #FFFFFF;
  border-radius: 0%;
  margin-left: 10px;
  margin-right: 0%;
  margin-top: 10px;
  width: 80%;
  height: 30px;
}

  .search-text {
    margin-left: 0px;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: none;
  }

.search-box:hover > .search-text {
    padding-left:60px;
  margin-left:0px;
  height: 95%;
  width: 80%;
  border-radius: 50%;
  background-color: none;
  border: none;
  border-color:#FFFFFF;
}

  .search-btn {
    margin: 0px;
    padding: 0px;
    float: none;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: none;
    border-radius: 50%;
  }

  .search-box:hover > .search-btn {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    float: right;
    width: 40px;
    height: 40px;
    color: #483348;
    background-color: none;
    border-radius: 25%;
  }


  #iconpp {
    cursor: pointer;
    margin-left: 10px;
    width: 45px;
    height: 45px;
  }

    #iconpp:hover {
      width: 55px;
      height: 50px;
    }

  .navlink li a {
    color: white;
    text-decoration: wavy;
    font-size: 12px;
    border-color: #483348;
    padding: 10px;
    margin: 10px;
    border: none;
  }

  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: fixed;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .navLinks {
    position: fixed;
    background: #48334b;
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 70% 10%);
    -webkit-clip-path: circle(100px at 70% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .hamburger:hover > .navLinks {
    clip-path: circle(1000px at 70% -10%);
    -webkit-clip-path: circle(1000px at 70% -10%);
    pointer-events: all;
  }
}

