body {
  background-color: #F1EAEE;
  padding-top: 50px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  width: auto;
  margin-left: 255px;
  margin-right: 255px;
}




/* Fixed sidenav, full height */

#leftcomp {
  left: 0;
  overflow: scroll;
  overflow: hidden;
  overflow: auto;
  overflow: visible;
  height: 100%;
  width: 255px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 50px;
  background-color: #F1EAEE;
}


#rightcomp {
  right: 0;
  overflow: scroll;
  overflow: hidden;
  overflow: auto;
  overflow: visible;
  height: 100%;
  width: 255px;
  position: fixed;
  z-index: 1;
  background-color: #F1EAEE;
  overflow-x: hidden;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {

  body {
    width: 100%;
    max-width: 765px;
    margin-left: 0px;
    margin-right: 0px;
  }


  #leftcomp {
    left: 0;
    overflow: scroll;
    overflow: hidden;
    overflow: auto;
    overflow: visible;
    height: 0%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding-top: 50px;
  }


  #rightcomp {
    right: 0;
    overflow: scroll;
    overflow: hidden;
    overflow: auto;
    overflow: visible;
    height: 0%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding-top: 50px;
  }
}

