.card-header {
  background-color: #FFFFFF;
  padding: 20px;
  margin-bottom:30px;
}

.card {
  background-color: #FFFFFF;
  padding: 30px;
  color: #483348;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 2rem;
}
