

<div class="card">
      <div class="card-header">
        <h5>Profile de l'entreprise</h5>
    </div>
        <form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <div class="form-group">
                <label for="entrepriseLogo">Logo</label>
                <input type="file" class="form-control"
                id="entrepriseLogo" formControlName="logo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="entrepriseName">Nom de l'entreprise</label>
                <input type="text" id="entrepriseName" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" id="ville" class="form-control" formControlName="city">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="phoneNumber">Telephone</label>
                <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="activity">Secteur d'activité</label>
                <textarea class="form-control" row="5" id="activity" formControlName="activity"></textarea>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="adresse">Adresse</label>
                <textarea class="form-control" row="5" id="adresse" formControlName="adresse"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label for="website">Site internet</label>
                <input class="form-control" id="website" formControlName="websiteUrl">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" row="6" formControlName="description" id="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <button type="submit" class="btn btn-success" style="margin-right: 10px;">Valider</button>
              <button type="button" class="btn btn-danger">Annuler</button>
            </div>
          </div>
        </form>
  </div>
